button{
    width: 15vw;
    height: 10vh;   
    border-width: 0px;
    background-color: white;
}
.google-signin{
    background-size: 15vw;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../../../public/btn_google_signin_dark_pressed_web.png');
}