.experience-container{
    width: 100%;

    // display: flex;
    // flex-direction: column;

    max-height: 50vh;
    overflow-y: auto;
}

.experience-card{
    margin-top: 10px;
    width: 100% !important;

    
}