/*
    we need add position sticky cause we using fixed="top", 
    the content would covered by Narbar
*/
.navbar-sticky{
    position: sticky;
}

.nav-font{
    font-size: 2.5vmin
}

.setting-icon{
    width: 3vmin;
}

.Dropdown-item{
    color: black;
    background-color: white;
}